<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content has-bouncing="false" overflow-scroll="false">

    <div class="card full-card">
      <ion-slide-box>
        <ion-slide ng-repeat="imageUrl in curPaper.content.images">
          <div class="item item-image slide-image">
            <img ng-src="{{imageUrl}}">
          </div>
        </ion-slide>
      </ion-slide-box>
      <div class="item item-text-wrap">
        {{curPaper().content["short-description"]}}

      </div>
    </div>

    <div class="button-bar">
      <a class="button button-block button-balanced bottom-button" ng-click="onSave()">Save</a>
      <a class="button button-block button-energized bottom-button" ng-click="onIgnore()">Not interested</a>
    </div>
  </ion-content>
</ion-view>
