<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content has-bouncing="false" scroll="false">

    <label class="item item-input item-select">
      <div class="input-label">
        Currently browsing
      </div>
      <select>
        <option>All</option>
        <option selected>Machine Learning</option>
        <option>Mathematics</option>
        <option>Neuroscience</option>
      </select>
    </label>

    <a ng-href="#/tab/feedfull/{{curID()}}">
      <div class="card">
        <div class="item item-image">
          <img src="{{curPaper().content[&quot;thumbnail-url&quot;]}}">
        </div>
        <div class="item item-text-wrap item-icon-right">
          {{curPaper().content["short-description"]}}
          <i class="icon icon-right ion-arrow-right-c"></i>
        </div>
      </div>
    </a>
    <button class="button button-large button-block button-energized" ng-click="onIgnore()">
      Not interested
    </button>
  </ion-content>
</ion-view>