<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content has-bouncing="false" scroll="false">

    <label class="item item-input item-select">
      <div class="input-label">
        Currently browsing
      </div>
      <select>
        <option>All</option>
        <option selected>Machine Learning</option>
        <option>Mathematics</option>
        <option>Neuroscience</option>
      </select>
    </label>

    <div class="card full-card">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div class="item item-image slide-image">
            <img src="img/adam.jpg">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="item item-image slide-image">
            <img src="img/ben.png">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="item item-image slide-image">
            <img src="img/max.png">
          </div>
        </ion-slide>
      </ion-slide-box>
      <div class="item item-text-wrap">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

    <div class="button-bar">
      <a class="button button-block button-balanced">Save</a>
      <a class="button button-block button-energized">Not interested</a>
    </div>
  </ion-content>
</ion-view>