<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content has-bouncing="false" overflow-scroll="true">
    <div class="bar bar-header">
      <button class="button button-balanced button-clear" ng-click="logout()">Logout</button>
      <h1 class="title"></h1>
      <button class="button button-icon icon ion-plus" ng-click="newfolder(&quot;[Empty folder]&quot;)">New Folder</button>
    </div>
    <div class="space"></div>
    <div ng-repeat="folder in folders">
      <div class="row">
        <div class="col">
          <a ng-href="#/tab/portfoliofolder/{{folder}}">
            <div class="card folder-card">
              <div class="item item-text-wrap">
                {{folder}}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
