<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content has-bouncing="false" scroll="false">
    <div class="bar bar-header">
      <a ng-href="#/tab/portfolio">
        <button class="button button-icon icon ion-chevron-left"></button>
      </a>
      <h1 class="title"></h1>
    </div>

    <div class="card full-card">
      <ion-slide-box>
        <ion-slide ng-repeat="imageUrl in images">
          <div class="item item-image slide-image">
            <img src="{{imageUrl}}">
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <a class="button button-block button-positive">Contact: {{email()}}</a>
    <a class="button button-block button-stable">Full paper online</a>
  </ion-content>
</ion-view>
