<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content has-bouncing="false" scroll="false">
    <div class="bar bar-header">
      <h1 class="title"></h1>
      <button class="button button-icon icon ion-plus">New Folder</button>
    </div>
    <div class="row">
      <div class="col">
        <div class="card folder-card">
          <div class="item item-text-wrap">
            Machine Learning
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card folder-card">
          <div class="item item-text-wrap">
            Neuroscience
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card folder-card">
          <div class="item item-text-wrap">
            Chemistry
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card folder-card">
          <div class="item item-text-wrap">
            Physics
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card folder-card">
          <div class="item item-text-wrap">
            Biology
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>