<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content has-bouncing="false" scroll="false">
    <div class="bar bar-header">
      <button class="button button-icon icon ion-chevron-left"></button>
      <h1 class="title"></h1>
      <button class="button button-icon icon ion-plus">Add selected to...</button>
    </div>
    <div class="row">
      <div class="col">
        <div class="card folder-card">
          <div class="item item-image">
            <img src="img/adam.jpg">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card folder-card">
          <div class="item item-image">
            <img src="img/neural-network.png">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card folder-card">
          <div class="item item-image">
            <img src="img/max.png">
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>