<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">

  <ion-content has-bouncing="false" scroll="false">
    <div class="login-container">
      <label class="above-input-text item">Describe the reasearch and analysis you're looking for. Your submission will
      be posted to researchers in the relevant subject area.</label>
      <form>
        <div class="list">
          <label class="item item-input textarea-input">
            <textarea placeholder="Request" ng-model="requestData.requestContent"></textarea>
          </label>
          <label class="item item-input item-login">
            <span class="input-label">Subject Area:</span>
            <input type="text" ng-model="requestData.subject">
          </label>
          <label class="item item-input item-login">
            <span class="input-label">Email:</span>
            <input type="email" ng-model="requestData.email">
          </label>
          <label class="item item-login">
            <button class="button button-block button-balanced" type="submit" ng-click="postRequest()">Post Research Request</button>
          </label>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
