<ion-view hide-nav-bar="true" hide-back-button="true" view-title="">
  <ion-content has-bouncing="false" scroll="false">
    <div class="card">
      <div class="item item-text-wrap">
        Research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research research
      </div>
    </div>
  </ion-content>
</ion-view>
