.full-card {
  margin: 0px 0px 0px 0px;
}

.textarea-input {
  height: 400px;
}

textarea {
  height: 100%;
}

/* Have to do it this way so it'll override ionic's css styles*/
.slide-image img:first-child {
  height: 275px;
  width: auto;
}

.col {
  padding: 0px;
}

.folder-card {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.folder-card div:first-child {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}